# Précaution de Securité si jamais l'utilisateur placait tout de même son fichier config.php dans le public_html
# Ceci interdit toute opération par un utilisateur sur internet sur ce fichier
<Files "config.php">
  Deny from all
</Files>