
/* ================================================================= */
                            /* All pages */
/* ================================================================= */

/* color chart
/* Grey  rgb(46, 66, 75); */
/* Blue rgb(47, 170, 187); */
/* Yellow rgb(250, 180, 19); */
/* Red rgb(252, 79, 6); */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}

/* ================================================================= */
                            /* Main */
/* ================================================================= */

body {
    background-color:rgb(255, 255, 255);
}

.main {
    margin: 30px 70px 30px 70px;  
}
.main ul {
    border-radius: 20px;
    background-color: rgb(186, 186, 186);
    display: flex;
    align-items: center;
    margin: 20px 30px 20px 30px;    
}
.text {
    flex-direction: column;
}
.text li h1 {
    padding: 10px 20px 10px 20px;
    color: rgb(14, 134, 183);
}
.text li p {
    margin: 10px 20px 10px 20px;
    color: rgb(4, 47, 37);
}


  












  

  